<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Open UNIFEOB Alterado</title>
</head>
<body>
    <main>
        <section class="inside-main-left">
            <div class="inside-main-left-div">
                <h1>Open UNIFEOB</h1>
                <p>Estudante ensina estudante. <br>O Futuro da Educação.</p>
                <img src="/images/Imagem Login.svg" alt="">
            </div>
        </section>
        <section class="inside-main-right">
            <div class="inside-main-right-div">
                <form action="" method="post">
                    <div class="form-texts">
                        <h2>Login:</h2>
                        <p>Open UNIFEOB</p>
                    </div>
                    <div class="div-label-input">
                        <label for="user">Usuário:</label>
                        <input type="text" name="user" id="user">
                    </div>
                    <div class="div-label-input">
                        <label for="password">Senha:</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <input class="login-button" type="button" name="" id="" value="Entrar">
                    <div class="form-links">
                        <a href="">Cadastrar-se</a>
                        <a href="">Esqueci minha senha</a>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <!-- Comentário de exemplo -->
</body>
</html>