* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    font-size: 16px;
    font-weight: 300;
}

label {
    font-weight: 300;
}

.course {
    margin-top: 30px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.inside-course {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inside-course-left {
    display: flex;
    height: auto;
    flex-direction: column;
    margin-right: 20px;
}

.inside-course-left img {
    height: 250px;
    width: 360px;
    margin-bottom: 20px;
}

.registration-button {
    height: 40px;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    background-color: #00E394;
    color: #fff;
    text-align: center;
    line-height: 40px;
    display: inline-block;
}

.inside-course-right {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.inside-course-right-top {
    margin-bottom: 40px;
}

.inside-course-right-top-content {
    border-radius: 4px;
}

.inside-course-right-top-content h2 {
    margin-bottom: 20px;
}

.inside-course-right-bottom {
    display: flex;
    flex-direction: row-reverse;
    background-color: #fff;
    border-radius: 4px;
    justify-content: flex-end;
}

.inside-course-right-bottom div {
    margin-right: 30px;
}

.inside-course-right-bottom img {
    width: 70px;
    border-radius: 50px;
    margin-right: 20px;
}

@media screen and (max-width: 700px) {
    .inside-course {
        flex-direction: column;
    }

    .inside-course-left img {
        width: 100%;
        max-height: 40vh;
        min-height: 30vh;
    }

    .registration-button {
        margin-bottom: 20px;
    }

    .inside-course-right-bottom {
        flex-direction: column-reverse;
    }

    .inside-course-right-bottom div {
        margin-bottom: 20px;
    }
}