* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    font-size: 16px;
    font-weight: 300;
}

label {
    font-weight: 300;
}

header {
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
}

.inside-header {
    width: 80%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inside-header h2 {
    font-size: 24px;
    color: #fff;
}

.inside-header-menu {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
}

.inside-header-menu a {
    color: #fff;
    font-weight: 300;
}

.item-menu-space {
    margin-right: 15px;
}

.inside-header-profile-quit {
    display: flex;
    align-items: center;
    width: auto;
}

.profile-button {
    display: flex;
    flex-direction: row;
    background-color: #00E394;
    width: 150px;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 40px;
    color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 300ms;
    font-weight: 300;
}

.profile-button:hover {
    background-color: #05d48c;
}

.profile-button p {
    margin-right: 10px;
}

.inside-header-profile-quit .profile-image {
    width: 30px;
    border-radius: 50%;
}

.quit-button {
    font-weight: 300;
    color: #fff;
}

.home {
    width: 100%;
    height: 400px;
    background-image: url(../images/image-home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    margin-bottom: 60px;
}

.inside-home {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inside-home h1 {
    background-color: #fff;
    width: 350px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #16D9E3;
    font-size: 32px;
}

.step-by-step {
    width: 100%;
    height: auto;
    margin-bottom: 80px;
}

.inside-step {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.inside-step h2 {
    margin-bottom: 60px;
    text-align: center;
    font-size: 22px;
}

.inside-step-cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-card {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text-card {
    margin-bottom: 20px;
}

.hello-student {
    width: 100%;
    height: auto;
    margin-bottom: 80px;
}

.inside-hello-student {
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.inside-hello-student h2 {
    margin-bottom: 20px;
    font-size: 22px;
}

.inside-hello-student p {
    margin-bottom: 40px;
}

.inside-hello-student-input[type="text"] {
    width: 400px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
}

.available-courses {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.inside-available-courses {
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.inside-available-courses h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.inside-available-courses label {
    margin-right: 20px;
}

.inside-available-courses select {
    font-size: 16px;
    width: 300px;
    height: 30px;
    padding-left: 5px;
    margin-bottom: 60px;
}

.inside-available-courses-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course-card {
    background-color: #fff;
    width: 233px;
    height: auto;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    transition: 200ms;
    margin-right: 20px;
    margin-bottom: 20px;
}

.course-card:hover {
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

.course-card img {
    width: 234px;
    height: 166px;
    margin-bottom: 17px;
}

.title-course-card {
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

.text-course-card {
    margin-bottom: 10px;
    text-align: left;
}

.tag-course-card {
    background-color: #30C7EC;
    display: inline-block;
    width: 80px;
    border-radius: 4px;
    color: #fff;
}

.course-card-padding {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.inside-pagination {
    color: #000;
}

.report {
    width: 100%;
    height: auto;
    margin-bottom: 160px;
}

.inside-report {
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.inside-report h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.inside-report p {
    margin-bottom: 20px;
}

.report-button {
    display: inline-block;
    line-height: 40px;
    background-color: #00E394;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 300ms;
    font-weight: 300;
}

.report-button:hover {
    background-color: #05d48c;
}

footer {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
}

.inside-footer {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.inside-footer-div1 {
    width: 40%;
}

.inside-footer-div2,
.inside-footer-div3,
.inside-footer-div4 {
    width: 20%;
}

.inside-footer-div1 h2 {
    font-size: 32px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}

.inside-footer-div1 p {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.inside-footer-div2 {
    display: flex;
    flex-direction: column;
}

.inside-footer-div2 p {
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}

.inside-footer-div2 a {
    font-weight: 300;
    color: #fff;
    margin-bottom: 10px;
}

.item-margin {
    margin-bottom: 0px !important;
}

.inside-footer-div3-p1 {
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.footer-icons {
    display: flex;
    width: 115px;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.inside-footer-div3-p2 {
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.inside-footer-div3-p3 {
    color: #fff;
}

.inside-footer-div4-p1 {
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.inside-footer-div4-p2 {
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}

.inside-footer-div4-p3 {
    font-weight: bold;
    color: #fff;
}

.unifeob-logo {
    width: 100px;
}


/* paginação estilo */

.pagination {
    display: flex;
    width: 200px;
    padding-left: 0;
    list-style: none;
}

.page-link {
    margin-left: -1px;
    display: inline-block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 0.4em 0.9rem;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.page-link:hover {
    z-index: 2;
    color: #0a58ca;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.page-link:focus {
    z-index: 3;
    color: #0a58ca;
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25)
}